@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Raalxtate.Helpers

@{
    Layout = "Master.cshtml";



    var propertyroot = Model.Descendants<PropertyDetails>().Where(x => x.IsVisible());

}

@* the fun starts here *@



@Html.Partial("~/Views/Partials/header.cshtml")


@if (Model.HasProperty("pageContentGrid") && Model.HasValue("pageContentGrid"))
{
    <!-- Content Section Begin -->
    <section class="about-section spad">
        <div class="container">
            @Html.GetGridHtml(Model, "pageContentGrid")
        </div>
    </section>
    <!-- Content Section End -->
}


@Html.Partial("~/Views/Partials/searchSection.cshtml")



@if (Model.HasProperty("showBlogs") && Model.HasValue("showBlogs"))
{



    var propertyList1 = propertyroot.Take(6);

    <!-- Property Section Begin -->
    <section class="property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h4>PROPERTIES</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                @*

                *@
                @foreach (var property in propertyList1)
                {
                    @Html.Partial("~/Views/Partials/propertyBox.cshtml", property)
                }
            </div>
        </div>
    </section>
    <!-- Property Section End -->
}



@if (Model.HasProperty("shoeChooseUsSection") && Model.HasValue("shoeChooseUsSection"))
{
    var chooseUsImage = Model.HasValue("chooseUsImage") ? Model.Value<IPublishedContent>("chooseUsImage").Url : "";
    var chooseUsFeatures = Model.Value<IEnumerable<IPublishedElement>>("chooseUsFeatures");
    <!-- Chooseus Section Begin -->
    <section class="chooseus-section spad set-bg" data-setbg="@chooseUsImage">
        <div class="container" style="background-color:rgba(0,0,0,.8); padding-top:5vmin;">
            <div class="row">
                <div class="col-lg-8">
                    <div class="chooseus-text">
                        <div class="section-title">
                            <h4>@Model.Value("chooseUsTitle")</h4>
                        </div>
                        <p>@Model.Value("chooseUsSubtitle")</p>
                    </div>
                    <div class="chooseus-features">

                            @foreach (var item in chooseUsFeatures)
                            {
                                <div class="cf-item">
                                    <div class="cf-pic">
                                        <img src="img/chooseus/chooseus-icon-1.png" alt="">
                                    </div>
                                    <div class="cf-text">
                                        <h5>@item.Value("title")</h5>
                                        <p>@item.Value("subtitle")</p>
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->
}


<!-- Team Section Begin -->
@{
    var root = Model.Children<OurTeam>().FirstOrDefault();
    var agents = root.Children<Person>().Where(x => x.IsVisible()).Take(3);

    var agentUrl = root.Url;
}
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="section-title">
                    <h4>Our Team</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="team-btn">
                    <a href="@agentUrl"><i class="fa fa-user"></i> See More</a>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var agentpage in agents)
            {
                var agentData = agentpage.Value<Agent>("selectAgent");
                var agantImage = agentData.HasValue("image") ? agentData.Value<IPublishedContent>("image").Url : "";
                <div class="col-md-4">
                    <div class="ts-item">
                        <div class="ts-text">
                            <img src="@agantImage" alt="@agentData.Value("fullNames")">
                            <h5>@agentData.Value("fullNames")</h5>
                            <span>@agentData.Value("memberEmail")</span>
                            <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                            <div class="ts-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>What our client says?</h4>
                </div>
            </div>
        </div>
        <div class="row testimonial-slider owl-carousel">
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                            magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.
                        </p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/testimonial-author/ta-1.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>Arise Naieh</h5>
                            <span>Designer</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                            magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.
                        </p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/testimonial-author/ta-2.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>Arise Naieh</h5>
                            <span>Designer</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item">
                    <div class="ti-text">
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                            magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.
                        </p>
                    </div>
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/testimonial-author/ta-1.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>Arise Naieh</h5>
                            <span>Designer</span>
                            <div class="ta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Logo Carousel Begin -->
<div class="logo-carousel">
    <div class="container">
        <div class="lc-slider owl-carousel">
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-1.png" alt="">
                </div>
            </a>
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-2.png" alt="">
                </div>
            </a>
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-3.png" alt="">
                </div>
            </a>
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-4.png" alt="">
                </div>
            </a>
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-5.png" alt="">
                </div>
            </a>
            <a href="#" class="lc-item">
                <div class="lc-item-inner">
                    <img src="img/logo-carousel/lc-6.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Logo Carousel End -->
