@inherits Umbraco.Web.Mvc.UmbracoViewPage


@{

    // var root = Model.AncestorOrSelf<Home>();
    var root = Model.AncestorOrSelf(1);
    var settings = root.DescendantsOfType("globalConfig").FirstOrDefault();
    var logoImage = settings.HasValue("logo") ? settings.Value<IPublishedContent>("logo").Url : "";
    var navigationMenu = settings.Value("navigationMenu");
    // Layout = "Master.cshtml";

}

@* the fun starts here *@


<!-- Header Section Begin -->
<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="./index.html"><img src="@logoImage" alt=""/></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget">
                        <ul>
                            <li><i class="icon_mail_alt"></i> @settings.Value("topEmail")</li>
                            <li><i class="fa fa-mobile-phone"></i>  @settings.Value("topTel") <!-- <span> another number </span> --></li>
                        </ul>
                        <a href="#" class="hw-btn">Submit property</a>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <nav class="nav-menu">
                        <ul>
                            @if (settings.HasProperty("navigationMenu") && settings.HasValue("navigationMenu"))
                            {
                                @Html.GetBlockListHtml(settings, "navigationMenu")
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hn-social">
                        @if (settings.HasProperty("socialLinks") && settings.HasValue("socialLinks"))
                        {
                            @Html.GetBlockListHtml(settings, "socialLinks")
                        }
                        @*

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->