@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Raalxtate.Helpers

@{
    // var root = Model.AncestorOrSelf<Home>();
    var root = Model.AncestorOrSelf<Home>();
    var sharedContent = root.DescendantsOfType("shared").FirstOrDefault(); ;
    var provincesCat = sharedContent.DescendantsOfType("provinceCat");
    var cityCat = sharedContent.DescendantsOfType("cityCat");
    var subcityCat = sharedContent.DescendantsOfType("subcityCat");
    var propertyTypeCat = sharedContent.DescendantsOfType("propertyTypeCat");
    var contractTypeCat = sharedContent.DescendantsOfType("contractTypeCat");
    var defaulType = QueryStringHelper.GetIntFromQueryString(Request, "type", 0);
    var defaulProvince = QueryStringHelper.GetIntFromQueryString(Request, "province", 0);
    var defaulCity = QueryStringHelper.GetIntFromQueryString(Request, "city", 0);
    var defaulSubcity = QueryStringHelper.GetIntFromQueryString(Request, "subcity", 0);
    var defaulContract = QueryStringHelper.GetIntFromQueryString(Request, "contract", 0);
    var defaulPrice = QueryStringHelper.GetIntFromQueryString(Request, "price", 0);

}




<!-- Search Section Begin -->
<section class="search-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title">
                    <h4>Search for a property</h4>
                </div>
            </div>
        </div>
        <div class="search-form-content" style="overflow: visible;">
            <form onsubmit="return SearchNow(event)" class="filter-form">
                <select class="sm-width" id="province" value>
                    <option value="">Select a Province</option>
                    @if (provincesCat != null && provincesCat.Any())
                    {
                        foreach (var province in provincesCat)
                        {
                            <option value="@province.Name.ToLower()">@province.Name</option>
                        }
                    }
                </select>
                <select class="sm-width" id="city">
                    <option value="">Select a City</option>
                    @if (cityCat != null && cityCat.Any())
                    {
                        foreach (var city in cityCat)
                        {
                            <option value="@city.Name.ToLower()">@city.Name</option>
                        }
                    }
                </select>
                <select class="sm-width" id="subcity">
                    <option value="">Select a Subcity</option>
                    @if (subcityCat != null && subcityCat.Any())
                    {
                        foreach (var subcity in subcityCat)
                        {
                            <option value="@subcity.Name.ToLower()">@subcity.Name</option>
                        }
                    }
                </select>
                <select class="sm-width" id="type">
                    @if (propertyTypeCat != null && propertyTypeCat.Any())
                    {
                        foreach (var propertyType in propertyTypeCat)
                        {
                            <option value="@propertyType.Name.ToLower()">@propertyType.Name</option>
                        }
                    }
                </select>
                <select class="sm-width" id="contract">
                    @if (contractTypeCat != null && contractTypeCat.Any())
                    {
                        foreach (var contractType in contractTypeCat)
                        {
                            <option value="@contractType.Name.ToLower()">@contractType.Name</option>
                        }
                    }
                </select>
                <select class="sm-width" id="price">
                    <option value="">All Prices</option>
                    <option value="1">Less than R1000</option>
                    <option value="2">R1000 - R10 000</option>
                    <option value="3">R10 0000 - R20 000</option>
                    <option value="4">R20 000 - R50 000</option>
                    <option value="5">R50 000 - R100 000</option>
                    <option value="6">R100 000 - R500 000</option>
                    <option value="7">R1 000 000 - R2 000 000</option>
                    <option value="8">More than R2 000 000</option>
                </select>
                <button type="submit" class="search-btn sm-width">Search</button>
            </form>
        </div>
    </div>
</section>
<!-- Search Section End -->

<script>
    function getel(a) {
        return document.getElementById(a);
    }
    function SearchNow(event) {
        event.preventDefault();
        let urlstr = "";
        var province = getel("province").value;
        var city = getel("city").value;
        var subcity = getel("subcity").value;
        var type = getel("type").value;
        var contract = getel("contract").value;
        var price = getel("price").value;

        if (province !== "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "province=" + province;
        }
        if (city != "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "city=" + city;
        }
        if (subcity != "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "subcity=" + subcity;
        }
        if (type != "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "type=" + type;
        }
        if (contract != "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "contract=" + contract;
        }
        if (price != "") {
            urlstr += urlstr == "" ? "" : ",";
            urlstr += "price=" + price;
        }
        //console.log("url =" + urlstr);
        //alert(urlstr);
        window.location.href = "/properties/?" + urlstr;
    }
</script>